# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Database
*.db
*.db-journal

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
*.bak
*.backup
